<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img class="navbar-brand" src="/logo.jpeg" width="40"></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="https://www.tcgplayer.com/search/product/all?seller=93970106" target="_blank">TCGPLAYER</a>
        </li>
        <% if current_author.present? && current_author.id == 1 %>
          <li class="nav-item active">
            <a class="nav-link" href="/posts">Posts</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/posts/new">New Post</a>
          </li>
        <% end %>
      </ul>
    <div class="search-bar">
      <%= search_form_for @q, html: {class: 'form-inline my-2 my-lg-0 ' }, url: product_path(@post) do |f| %>
        <%= f.search_field :title_or_description_or_code_or_hashtag_cont, class:'form-control mr-sm-2' %>
          <%#= button_tag(type: 'submit', class: 'btn btn-secondary') do %>
<!--            <i class="fas fa-search"></i>-->
          <%# end %>
        <%# end %>
      <% end %>
    </div>
  </nav>
</div>

