<% provide(:page_title, 'MAIN') %>
<% if mobile_device? %>
  <%= render "posts" %>
  <div class="pagy-mobile"
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% else %>
  <div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
    <div data-infinite-scroll-target="entries">
      <%= render "posts" %>
    </div>
    <div class="pagy" data-infinite-scroll-target="pagination">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
<% end %>