<% provide(:page_title, 'MAIN') %>
<div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
  <div data-infinite-scroll-target="entries">
    <%= render "posts" %>
  </div>
  <div data-infinite-scroll-target="pagination">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
